In [2]:
import pandas as pd

In [10]:
df = pd.read_csv('YPS1009.annotation_final.csv', index_col=0)

In [11]:
df['GeneType'].value_counts()

PROTEIN    5546
TKP/TY       15
Name: GeneType, dtype: int64

In [12]:
df_tkpTy = df[df['GeneType'] == "TKP/TY"]

In [13]:
df.columns

Index(['Strand', 'LowestCoordinate', 'HighestCoordinate', 'S288C_chrom',
       'YGAP_contigNumber', 'GeneShortName', 'GeneCoordinates',
       'AncestralGene', 'S.cerevisiaeGene', 'GeneType', 'YGOBPillarNumber',
       'AnnotationTag', 'AnnotationRoute'],
      dtype='object')

In [14]:
df_protein = df[df['GeneType'] == "PROTEIN"]

In [15]:
df_protein.isna().sum()

Strand                  0
LowestCoordinate        0
HighestCoordinate       0
S288C_chrom             0
YGAP_contigNumber       0
GeneShortName           0
GeneCoordinates         0
AncestralGene         961
S.cerevisiaeGene      715
GeneType                0
YGOBPillarNumber        0
AnnotationTag        5020
AnnotationRoute         0
dtype: int64

In [16]:
df_trna = pd.read_csv('YPS1009.trna-v2.csv', index_col=0)

In [21]:
df_trna = df_trna[['Strand', 'LowestCoordinate', 'HighestCoordinate', 'S288C_chrom',
       'YGAP_contigNumber', 'GeneShortName', 'GeneCoordinates', 'GeneType']]

In [24]:
# This code just convert the chromosome numbering to integer and remove mitochondrial genes.
Latin_to_arabic = {'I': 1, 'II':2, 'III':3, 'IV':4, 'V':5, 'VI':6, 'VII':7, 'VIII':8, 'IX':9, 'X':10,
                  'XI':11, 'XII':12, 'XIII':13, 'XIV':14, 'XV':15, 'XVI':16, 'Mito': 'mitoch', 'MANY': 'MANY'}

ch_s = df_trna['S288C_chrom']
ch = []

for c in ch_s:
    chrom = c.replace('chr', '')
    if '-' in chrom:
        chrom, e = chrom.split('-')
    ch.append(Latin_to_arabic[chrom])
df_trna['Chromosome'] = ch

C:\Users\user\AppData\Local\Temp\ipykernel_8024\2990696466.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trna['Chromosome'] = ch

In [25]:
df_trna

,Strand,LowestCoordinate,HighestCoordinate,S288C_chrom,YGAP_contigNumber,GeneShortName,GeneCoordinates,GeneType,Chromosome
GeneName,,,,,,,,,
YPS1009-Atrna1G,1,84098,84168,chrIV,1,tG-GCC,(84098..84168),tRNA,4
YPS1009-Atrna1K,1,358639,358734,chrIV,1,tK-UUU,"(358639..358676,358698..358734)",tRNA,4
YPS1009-Atrna1A,1,411731,411803,chrIV,1,tA-AGC,(411731..411803),tRNA,4
YPS1009-Atrna1T,0,435620,435692,chrIV,1,tT-AGU,complement(435620..435692),tRNA,4
YPS1009-Atrna1S,1,438290,438371,chrIV,1,tS-AGA,(438290..438371),tRNA,4
...,...,...,...,...,...,...,...,...,...
YPS1009-Otrna22K,0,289537,289609,chrIX,15,tK-CUU,complement(289537..289609),tRNA,9
YPS1009-Otrna15D,0,314366,314437,chrIX,15,tD-GUC,complement(314366..314437),tRNA,9
YPS1009-Otrna17T,1,315782,315854,chrIX,15,tT-AGU,(315782..315854),tRNA,9
YPS1009-Otrna16D,0,326409,326480,chrIX,15,tD-GUC,complement(326409..326480),tRNA,9
YPS1009-Otrna17E,1,360426,360497,chrIX,15,tE-UUC,(360426..360497),tRNA,9

In [42]:
df_trna['GeneShortName'].value_counts()

tG-GCC    16
tD-GUC    16
tE-UUC    15
tK-CUU    14
tV-AAC    14
tI-AAU    13
tR-UCU    12
tA-AGC    11
tS-AGA    11
tF-GAA    11
tN-GUU    11
tT-AGU    11
tP-UGG    10
tL-CAA    10
tQ-UUG     9
tH-GUG     8
tK-UUU     8
tY-GUA     8
tL-UAA     8
tR-ACG     7
tA-UGC     6
tM-CAU     6
tW-CCA     6
tS-UGA     5
tT-UGU     5
t-CAU      5
tC-GCA     4
tS-GCU     4
tL-UAG     3
tG-UCC     3
tV-UAC     3
tG-CCC     2
tV-CAC     2
tE-CUC     2
tI-UAU     2
tP-AGG     2
tI-GAU     1
t-UCA      1
tR-CCU     1
tL-GAG     1
tT-CGU     1
tS-CGA     1
tQ-CUG     1
tR-CCG     1
Name: GeneShortName, dtype: int64

In [23]:
df_trna['S288C_chrom'].value_counts()

chrVII       30
chrIV        28
chrX         24
chrV         20
chrXV        17
chrXVI       16
chrXI        16
chrMito      16
chrXII       15
chrXIV       14
chrXIII-2    13
chrII        13
chrVIII      11
chrIII       10
chrVI        10
chrIX        10
chrXIII       8
chrMANY       6
chrXII-2      6
chrI          4
chrXV-2       3
chrXVI-2      1
Name: S288C_chrom, dtype: int64

In [29]:
trna_count = df_trna['Chromosome'].value_counts().to_frame()

	tRNA  	TE 	ncRNA	snoRNA
Chr				
1	4	2	1	1
2	13	6	2	2
1;3	14	4	1	5
4	28	17	0	4
5	20	4	3	5
7	36	10	2	6
8	11	4	3	2
9	10	1	2	1
10	24	6	1	5
11	16	0	0	5
12	21	8	0	7
13	21	8	3	13
14	14	4	0	5
15	20	8	0	11
16	17	9	1	6

ch7 missing 6 tRNAs.
that's the only difference

Not gaining anywhere else. real or hole in assembly?
Do I get the same result in Liftoff?

In [39]:
trna_s288 = pd.read_csv('tRNA_S288C.tsv', sep = '\t')

In [47]:
trna_s288.head()

,tRNA Gene > Systematic Name,tRNA Gene > Chromosome > Identifier,tRNA Gene > Brief Description,tRNA Gene > Length,tRNA Gene > Description,tRNA Gene > Feature Type,tRNA Gene > Sgd Alias
0,YNCA0002W,chrI,"Proline tRNA (tRNA-Pro), predicted by tRNAscan...",103,"Proline tRNA (tRNA-Pro), predicted by tRNAscan...",tRNA gene,tP(UGG)A|tRNA-Pro|tRNA-Pro
1,YNCA0004W,chrI,"Alanine tRNA (tRNA-Ala), predicted by tRNAscan...",73,"Alanine tRNA (tRNA-Ala), predicted by tRNAscan...",tRNA gene,tA(UGC)A|tRNA-Ala|tRNA-Ala
2,YNCA0005W,chrI,"Leucine tRNA (tRNA-Leu), predicted by tRNAscan...",114,"Leucine tRNA (tRNA-Leu), predicted by tRNAscan...",tRNA gene,tL(CAA)A|tRNA-Leu|tRNA-Leu
3,YNCA0006C,chrI,"Serine tRNA (tRNA-Ser), predicted by tRNAscan-...",82,"Serine tRNA (tRNA-Ser), predicted by tRNAscan-...",tRNA gene,tRNA-Ser|tRNA-Ser|tS(AGA)A
4,YNCB0001W,chrII,"Leucine tRNA (tRNA-Leu), predicted by tRNAscan...",84,"Leucine tRNA (tRNA-Leu), predicted by tRNAscan...",tRNA gene,tL(UAA)B1|tRNA-Leu|tRNA-Leu

In [60]:
import regex as re

tname = list(trna_s288['tRNA Gene > Sgd Alias'])
new = []
for t in tname:
    m = re.search(r"[t][A-Z]\([A-Z]{3}\)",t)
    if m: 
        a = m.group(0)
        a = a.replace('(', '-')
        a = a.replace(')', '')
    else:
        a = None
    new.append(a)

In [62]:
trna_s288['GeneShortName'] = new

In [72]:
trna_s288.head()

,tRNA Gene > Systematic Name,tRNA Gene > Chromosome > Identifier,tRNA Gene > Brief Description,tRNA Gene > Length,tRNA Gene > Description,tRNA Gene > Feature Type,tRNA Gene > Sgd Alias,GeneShortName
0,YNCA0002W,chrI,"Proline tRNA (tRNA-Pro), predicted by tRNAscan...",103,"Proline tRNA (tRNA-Pro), predicted by tRNAscan...",tRNA gene,tP(UGG)A|tRNA-Pro|tRNA-Pro,tP-UGG
1,YNCA0004W,chrI,"Alanine tRNA (tRNA-Ala), predicted by tRNAscan...",73,"Alanine tRNA (tRNA-Ala), predicted by tRNAscan...",tRNA gene,tA(UGC)A|tRNA-Ala|tRNA-Ala,tA-UGC
2,YNCA0005W,chrI,"Leucine tRNA (tRNA-Leu), predicted by tRNAscan...",114,"Leucine tRNA (tRNA-Leu), predicted by tRNAscan...",tRNA gene,tL(CAA)A|tRNA-Leu|tRNA-Leu,tL-CAA
3,YNCA0006C,chrI,"Serine tRNA (tRNA-Ser), predicted by tRNAscan-...",82,"Serine tRNA (tRNA-Ser), predicted by tRNAscan-...",tRNA gene,tRNA-Ser|tRNA-Ser|tS(AGA)A,tS-AGA
4,YNCB0001W,chrII,"Leucine tRNA (tRNA-Leu), predicted by tRNAscan...",84,"Leucine tRNA (tRNA-Leu), predicted by tRNAscan...",tRNA gene,tL(UAA)B1|tRNA-Leu|tRNA-Leu,tL-UAA

In [66]:
trna_s288['tRNA Gene > Chromosome > Identifier'].value_counts()

chrVII     36
chrIV      28
chrmt      24
chrX       24
chrXII     21
chrXIII    21
chrV       20
chrXV      20
chrXVI     17
chrXI      16
chrXIV     14
chrII      13
chrVIII    11
chrIX      10
chrVI      10
chrIII     10
chrI        4
Name: tRNA Gene > Chromosome > Identifier, dtype: int64

        Chromosome
7               30
4               28
10              24
12              21
13              21
5               20
15              20
16              17
11              16
mitoch          16
14              14
2               13
8               11
3               10
6               10
9               10
MANY             6
1                4

In [70]:
trna_s288['tRNA Gene > Chromosome > Identifier'].value_counts()

chrVII     36
chrIV      28
chrmt      24
chrX       24
chrXII     21
chrXIII    21
chrV       20
chrXV      20
chrXVI     17
chrXI      16
chrXIV     14
chrII      13
chrVIII    11
chrIX      10
chrVI      10
chrIII     10
chrI        4
Name: tRNA Gene > Chromosome > Identifier, dtype: int64

In [73]:
df_trna['Chromosome'].value_counts()

7         30
4         28
10        24
12        21
13        21
5         20
15        20
16        17
11        16
mitoch    16
14        14
2         13
8         11
3         10
6         10
9         10
MANY       6
1          4
Name: Chromosome, dtype: int64

In [74]:
sum(df_trna['Chromosome'].value_counts())

291

In [75]:
sum(trna_s288['tRNA Gene > Chromosome > Identifier'].value_counts())

299

In [79]:
yps1009_ch7 = df_trna[df_trna['Chromosome'] == 7]

In [81]:
s288c_ch7 = trna_s288[trna_s288['tRNA Gene > Chromosome > Identifier'] == 'chrVII']

In [104]:
dfyps7 = yps1009_ch7['GeneShortName'].value_counts().to_frame()

In [105]:
dfsc7 = s288c_ch7['GeneShortName'].value_counts().to_frame()

In [111]:
dfyps7 = dfyps7.rename(columns={'GeneShortName': 'yps1009'})
dfsc7 = dfsc7.rename(columns={'GeneShortName': 's288c'})

In [121]:
ch7 = dfyps7.join(dfsc7)

In [117]:
many = df_trna[df_trna['Chromosome'] == 'MANY']

In [120]:
df_many = many['GeneShortName'].value_counts().to_frame()

In [122]:
ch7.join(df_many)

        yps1009  s288c  GeneShortName
tR-UCU        3      3            NaN
tE-UUC        3      3            NaN
tT-UGU        2      2            NaN
tW-CCA        2      2            NaN
tL-CAA        2      3            1.0
tV-AAC        2      3            1.0
tD-GUC        2      2            NaN
tG-GCC        2      2            NaN
tK-UUU        1      2            1.0
tF-GAA        1      1            NaN
tS-AGA        1      1            NaN
tL-GAG        1      1            NaN
tI-AAU        1      1            NaN
tC-GCA        1      1            NaN
tN-GUU        1      1            NaN
tA-AGC        1      1            NaN
tG-UCC        1      1            NaN
tA-UGC        1      1            NaN
tK-CUU        1      3            2.0
tH-GUG        1      2            1.0